<li role="presentation"><%= link_to 'Home', root_path %></li>
<li role="presentation"><%= link_to 'About Us', home_about_us_path %></li>
<li role="presentation"><%= link_to 'Posts', posts_path %></li>